.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  //@include display(flex); //sticky footer
  //@include flex-direction(column); //sticky footer
  //min-height: 100%; //sticky footer
}


/*=============== Site Header ===============*/

.site-header-wrap {
  background-image: url(img/home-bg.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.site-header {
  @include mq(large) {
    height: em(169);
    @include transition (all 0.5s ease-in-out 0s);
  }
}

.sh-sticky-wrap {
  @include transition (all 0.5s ease-in-out 0s);
  border-bottom: 1px solid $lighter-gray;
  z-index: 999;
  > .inner-wrap {
    padding-top: em(10);
    padding-bottom: em(22);
  }
  @include mq(large) {
    height: em(169);
    > .inner-wrap {
      padding-bottom: 0;
      padding-top: 0;
    }
    &.stuck {
      height: em(150);
      position: fixed;
      background-color: white;
      box-shadow: 0 2px 5px #ccc;
      left: 0;
      right: 0;
      top: 0;
      .site-logo {
        max-width: em(240);
      }
      .sn-level-2,
      .hs-menu-children-wrapper {
        padding-top: em(18);
      }
    }
  }
}

.sh-utility-wrapper {
  @include mq(large) {
    display: inline-block;
  }
}

.sh-utility-nav {
  //overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: em(29);
  padding-bottom: em(11);
  &:before {
    content: "";
    position: absolute;
    background-color: $lighter-gray;
    height: 1px;
    left: -15%;
    width: 120%;
    bottom: 0;
  }
  @include mq(large) {
    display: block;
    width: auto;
    margin-bottom: em(15);
    &:before {
      content: none;
    }
  }
}

.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  //background-color:red;
  text-decoration: none;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-email {
  font-size: $small-font-size;
  font-weight: 600;
  color: $black;
  text-decoration: none;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: em(115, 14);
  margin-top: em(10, 14);
  &:before {
    content: "";
    position: absolute;
    background-image: url(img/mail.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: em(30, 14);
    left: 0;
    top: 0;
    width: em(30, 14);
    height: em(20, 14);
  }
  &:hover {
    &:before {
      background-image: url(img/mail-hover.svg);
    }
  }
  @include mq(medium) {
    margin-right: em(33, 14);
    margin-top: em(9, 14);
    padding-left: em(40, 14);
    text-indent: 0;
  }
  @include mq(large) {
    margin-right: em(9, 14);
    margin-top: em(22, 14);
    padding-left: em(39, 14);
    &:before {
      background-size: em(29, 14);
      left: 0;
      top: 0;
      width: em(29, 14);
      height: em(20, 14);
    }
  }
  @include mq(xlarge) {
    margin-right: em(36, 14);
  }
}

.sh-ph {
  margin: 0;
  font-size: $small-font-size;
  font-weight: 600;
  color: $black;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: em(28, 14);
  margin-top: em(10, 14);
  &:before {
    content: "";
    position: absolute;
    background-image: url(img/call.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: em(20, 14);
    left: 0;
    top: 0;
    width: em(20, 14);
    height: em(20, 14);
  }
  &:hover {
    &:before {
      background-image: url(img/call-hover.svg);
    }
  }
  @include mq(medium) {
    margin-top: em(11, 14);
  }
  @include mq(large) {
    margin-top: em(22, 14);
  }
}

.sh-ico-search-mobile {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  position: relative;
  width: em(40);
  height: em(40);
  border-radius: 5px;
  background-color: $black;
  float: right;
  &:before {
    content: "";
    position: absolute;
    background-image: url(img/search-white.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: em(20);
    left: 50%;
    top: 50%;
    width: em(20);
    height: em(20);
    transform: translateX(-50%) translateY(-50%);
  }
  &:hover {
    &:before {
      background-image: url(img/search-hover.svg);
    }
  }
  @include mq(large) {
    display: none;
  }
}

.sh-ico-search {
  display: none;
  background-image: url(img/search.svg);
  @extend %sh-ico;
  @include mq(large) {
    display: inline-block;
    height: em(80);
    width: em(40);
    margin: 0;
    background-color: $black;
    background-position: center center;
    &:hover {
      background-image: url(img/search-hover.svg);
      height: em(80);
      width: em(40);
    }
  }
}

.sh-ico-menu {
  background-image: url(img/ico-nav.svg);
  @extend %sh-ico;
  padding-top: 0;
  width: em(40);
  height: em(40);
  margin-top: em(7);
  @include mq(large) {
    display: none;
  }
}

.snc-btn-section {
  display: block;
  background-color: white;
  padding: em(21);
  text-align: center;
  @include mq(large) {
    display: inline-block;
    background-color: transparent;
    padding: 0;
    text-align: right;
    float: right;
  }
}

.snc-rfq {
  text-transform: uppercase;
  font-size: $base-font-size;
  font-weight: 600;
  position: relative;
  padding: em(14, 17) em(54, 17) em(19, 17) em(28, 17);
  background-color: $blue;
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  margin-left: em(12, 17);
  &:after {
    content: "";
    position: absolute;
    background-image: url(img/rfq.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: em(14, 17);
    right: em(30, 17);
    top: em(19, 17);
    width: em(14, 17);
    height: em(20, 17);
  }
  &:hover {
    background-color: $pink;
    color: white;
  }
  @include mq(large) {
    padding: em(24, 17) em(55, 17) em(24, 17) em(29, 17);
    margin-left: em(19, 17);
    min-height: em(80, 17);
    float: left;
    &:after {
      right: em(31, 17);
      top: em(30, 17);
    }
  }
}

.snc-secondary-menu {
  position: absolute;
  bottom: em(54);
  display: block;
  width: 100%;
  left: 0;
  @include mq(large) {
    position: relative;
    float: right;
    bottom: auto;
    display: inline-block;
    width: auto;
    left: auto;
    vertical-align: top;
  }
}

.snc-menu {
  .sub-menu {
    //padding-left: em(15);
  }
  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 em(16, 14);
    line-height: em(30, 14);
    font-size: $small-font-size;
    font-weight: 600;
    &:hover {
      color: $pink;
    }
  }
  @include mq(large) {
    > li {
      display: inline-block;
      vertical-align: middle;
      line-height: em(75);
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      &.menu-item-has-children {
        position: relative;
        &:hover {
          > .sub-menu {
            display: block;
          }
        }
      }
    }
    .sub-menu {
      position: absolute;
      z-index: 999999999;
      display: none;
      min-width: em(200);
      padding-left: 0;
      li {
        background-color: $pink;
        &:hover {
          > a {
            color: white;
          }
        }
      }
      a {
        padding: em(10, 14) em(10, 14);
        color: $black;
        display: block;
      }
    }
    a {
      color: $black;
      display: inline-block;
      padding: 0 em(10, 14) 0 0;
    }
  }
  @include mq(xlarge) {
    a {
      padding: 0 em(32, 14) 0 0;
    }
  }
}


/*=============== Site Intro ===============*/

.site-intro {
  > .inner-wrap {
    padding-top: em(40);
    padding-bottom: em(106);
  }
  @include mq(medium) {
    > .inner-wrap {
      padding-bottom: em(80);
    }
  }
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(71);
      padding-bottom: em(124);
    }
  }
}

.site-logo {
  max-width: em(172);
  width: 50%;
  display: inline-block;
  vertical-align: top;
  @include transition (all 0.5s ease-in-out 0s);
  img {
    width: em(263);
  }
  @include mq(large) {
    max-width: em(242);
    width: 70%;
  }
  @include mq(xlarge) {
    max-width: em(263);
    width: 73%;
  }
}

.si-header {
  font-size: em(28);
  font-weight: 700;
  text-transform: uppercase;
  line-height: em(41, 28);
  margin-top: em(29, 28);
  margin-bottom: em(8, 28);
  span {
    display: block;
    font-size: em(22, 28);
    font-weight: 400;
    text-transform: none;
  }
  @include mq(medium) {
    font-size: $medium-font-size;
    line-height: em(30, 24);
    margin-top: 0;
    margin-bottom: em(5, 24);
  }
  @include mq(large) {
    font-size: $display-font-size;
    line-height: em(35, 45);
    margin-top: 0;
    margin-bottom: 0;
    span {
      font-size: em(35, 45);
      line-height: em(61, 35);
    }
  }
}

.si-text {
  font-size: $base-font-size;
  line-height: em(30, 17);
  margin-top: 0;
  margin-bottom: em(33, 17);
  @include mq(medium) {
    font-size: $small-font-size;
    line-height: em(26, 14);
    margin-top: 0;
    margin-bottom: em(10, 14);
  }
  @include mq(large) {
    font-size: $base-font-size;
    line-height: em(30, 17);
    margin-top: 0;
    margin-bottom: em(31, 17);
  }
}

.si-cta-1 {
  font-size: $base-font-size;
  padding: em(20, 17) em(30, 17) em(23, 17) em(28, 17);
  span {
    font-weight: 400;
  }
  @include mq(medium) {
    font-size: em(12);
    padding: em(9, 12) em(15, 12);
  }
  @include mq(large) {
    font-size: $base-font-size;
    padding: em(20, 17) em(30, 17) em(23, 17) em(28, 17);
  }
}

.hero-slider {
  &.flexslider {
    .flex-control-nav {
      bottom: em(-56);
      li {
        margin: 0 em(5, 18);
      }
    }
    .flex-control-paging {
      li {
        a {
          width: em(15, 18);
          height: em(15, 18);
          background: rgba(181, 85, 95, 0.55);
          box-shadow: none;
          &:hover,
          &.flex-active {
            background: $pink;
          }
        }
      }
    }
    .flex-direction-nav {
      display: none;
    }
    @include mq(large) {
      .flex-direction-nav {
        display: block;
        a {
          &:before {
            background-image: url(img/side-arrow.svg);
            background-size: em(21);
            width: em(21);
            height: 100%;
            transform: rotate(180deg);
          }
          &.flex-next {
            opacity: 1;
            &:before {
              background-image: url(img/side-arrow.svg);
              background-size: em(21);
              width: em(21);
              height: 100%;
              transform: rotate(360deg);
            }
          }
          &.flex-prev {
            opacity: 1;
          }
        }
      }
      .flex-control-nav {
        bottom: -38.2%;
      }
    }
    @include mq(xlarge) {
      .flex-direction-nav {
        .flex-prev {
          left: em(-76);
          top: 50%;
        }
        .flex-next {
          top: 49.5%;
          right: em(-94);
        }
      }
      &:hover {
        .flex-prev {
          left: em(-76);
        }
        .flex-next {
          right: em(-94);
        }
      }
    }
  }
}

.si-visual {
  @include mq(medium) {
    float: left;
    width: 46%;
    margin-right: 4%;
  }
  @include mq(large) {
    width: 42.2%;
    margin-right: 3.55%;
  }
}

.si-content {
  @include mq(medium) {
    float: left;
    width: 50%;
  }
  @include mq(large) {
    float: left;
    width: 54%;
  }
}

.page-intro {
  background-color: $blue;
  text-align: center;
  color: white;
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(70);
      padding-bottom: em(79);
    }
  }
}

.pi-text {
  color: white;
  font-weight: 300;
  @include mq(large) {
    font-size: $large-font-size;
  }
}

.pi-header {
  @include mq(large) {
    font-size: $xlarge-font-size;
    span {
      font-weight: 400;
    }
  }
}


/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  @include mq(large) {
    >.inner-wrap {
      padding-top: em(90);
      padding-bottom: em(48);
    }
  }
}

.site-content-primary {
  p {
    line-height: em(30, 17);
    margin-bottom: em(32, 17);
  }
}

.featured-img {
  &.alignright {
    @include mq(large) {
      padding-left: 4.5em;
    }
  }
}

.page-cta-1 {
  margin-bottom: em(15);
  @include mq(large) {
    font-size: $base-font-size;
    padding: em(22, 17) em(41, 17) em(22, 17) em(45, 17);
    margin-bottom: em(32, 17);
    margin-top: em(8, 17);
    span {
      font-weight: 400;
    }
  }
}

.page-cta-2 {
  @extend .page-cta-1;
  @include mq(large) {
    padding: em(22, 17) em(69, 17) em(22, 17) em(68, 17);
  }
}

.site-content-secondary {}

.additional-content {
  //border-top: 1px solid #ababab;
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(71);
      padding-bottom: em(74);
      position: relative;
    }
  }
}

.dest-table {
  &.tablesaw-stack {
    tbody {
      tr {
        border: none;
      }
    }
    td,
    th {
      padding: em(30) em(40);
    }
  }
  th,
  td,
  tr {
    border: none;
  }
  .gray {
    background-color: $medium-gray;
  }
}

.back-btn {
  display: none;
  @include mq(large) {
    display: inline-block;
    color: black;
    text-decoration: none;
    position: absolute;
    right: em(20, 14);
    bottom: em(66, 14);
    background-image: url(img/back-btn.png);
    background-repeat: no-repeat;
    padding-top: em(15, 14);
    text-align: center;
    background-position: top center;
    font-size: $small-font-size;
  }
}


/*=============== Site Footer ===============*/

.site-footer {
  //background-color: $blue;
  text-align: center;
  color: $black;
  border-top: 1px solid #d8d5d5;
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $pink;
      text-decoration: underline;
    }
  }
  @include mq(large) {
    text-align: left;
    > .inner-wrap {
      padding-top: em(72);
      padding-bottom: em(53);
    }
  }
}

.sf-small {
  background-color: $blue;
  text-align: center;
  color: white;
  p {
    font-size: $small-font-size;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $pink;
      text-decoration: underline;
    }
  }
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
  @include mq(large) {
    > .inner-wrap {
      padding-bottom: em(21);
      padding-top: em(18);
    }
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}

.sf-address {
  p {
    font-size: $small-font-size;
  }
  @include mq(large) {
    p {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.sf-links {
  margin-bottom: em(16, 14);
  a {
    font-size: $small-font-size;
    line-height: em(20, 14);
  }
  @include mq(large) {
    display: inline-block;
    vertical-align: top;
    width: 14%;
    margin-right: 5%;
    border-right: 1px solid #c7c7c7;
    strong {
      font-size: $small-font-size;
    }
  }
}

.sf-social {
  strong {
    display: block;
  }
  a {
    display: inline-block;
    vertical-align: top;
    clear: right;
  }
  @include mq(large) {
    display: inline-block;
    vertical-align: top;
    strong {
      font-size: $small-font-size;
      margin-bottom: em(6, 14);
    }
  }
}

.sf-logo {
  @include mq(large) {
    display: inline-block;
    vertical-align: top;
    width: 16%;
    margin-right: 5%;
    border-right: 1px solid #c7c7c7;
    padding-top: em(17);
    padding-bottom: em(5);
  }
}

.sf-address {
  @include mq(large) {
    display: inline-block;
    vertical-align: top;
    width: 26%;
    margin-right: 5%;
    border-right: 1px solid #c7c7c7;
    p {
      line-height: em(23, 14);
    }
  }
}


/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important;
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $base-color;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  //position:absolute;
  top: 0;
  right: 0;
}


/*=============== Read More ===============*/

.main-content {
  display: block;
  overflow: hidden;
  position: relative;
  @include mq(medium) {
    display: inline;
  }
}

@include mq(small) {
  .height {
    max-height: em(250);
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .heightAuto {
    max-height: em(5000);
    &:before {
      display: none;
    }
  }
}

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: $blue;
  padding-bottom: em(10);
  @include mq(medium) {
    display: none;
  }
}


/* ==== about section css ==== */

.about-section {
  overflow: hidden;
  background-color: $blue;
  color: white;
  text-align: center;
  > .inner-wrap {
    padding-top: em(30);
    padding-bottom: em(30);
  }
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(58);
      padding-bottom: em(75);
    }
  }
}

.as-text {
  font-size: $medium-font-size;
  font-weight: 700;
  line-height: em(30, 17);
  text-align:center;
  span {
    font-weight: 300;
    display: block;
  }
  @include mq(large) {
    font-size: $xlarge-font-size;
    line-height: em(43, 35);
    //max-width: em(840, 35);
    display: block;
    margin: 0 auto em(30);
    span {
      line-height: 0;
      margin-bottom: 1em;
    }
  }
}


/* ====  materials section css ==== */

.materials-facilities-section {
  overflow: hidden;
  display: block;
  text-align: center;
  @include mq(large) {
    text-align: left;
  }
}

.mfs-left-section {
  background-image: url(img/materials.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
  padding: em(30) em(10);
  position: relative;
  border-bottom: 2px solid white;
  @include transition (background 0.5s ease-in-out);
  &:before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include transition (background 0.8s ease-in-out);
  }
  @include mq(large) {
    float: left;
    width: 50%;
    min-height: em(448);
    padding: em(72) em(10);
    border-bottom: none;
    &:hover {
      &:before {
        background-color: transparent;
      }
      .mfs-left-header,
      .mfs-left-text {
        opacity: 0;
      }
      .mfs-left-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $pink;
        color: white;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: em(2);
      height: 100%;
      top: 0;
      background-color: white;
    }
  }
}

.mfs-left-content {
  @include mq(large) {
    float: right;
    max-width: em(553);
    width: 82%;
  }
}

.mfs-left-header {
  font-size: $medium-font-size;
  line-height: em(28, 24);
  position: relative;
  padding-left: em(35, 24);
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
  @include transition (opacity 0.5s ease-in-out);
  &:before {
    content: "";
    position: absolute;
    background-image: url(img/materials.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: em(30, 24);
    left: 0;
    top: 0;
    width: em(30, 24);
    height: em(30, 24);
  }
  @include mq(large) {
    font-size: $xlarge-font-size;
    margin-bottom: em(30, 35);
    padding-left: em(68, 35);
    margin-top: em(27, 35);
    padding-top: em(1, 35);
    &:before {
      background-size: em(50, 35);
      left: 0;
      top: em(-2, 35);
      width: em(50, 35);
      height: em(50, 35);
      background-image: url(img/materials.svg);
    }
  }
}

.mfs-left-text {
  font-size: $base-font-size;
  line-height: em(30, 17);
  margin-bottom: em(30, 17);
  padding: 0 em(20, 17);
  color: white;
  position: relative;
  @include transition (opacity 0.5s ease-in-out);
  @include mq(medium) {
    max-width: em(650, 17);
    margin: 0 auto em(19, 17);
  }
  @include mq(large) {
    max-width: em(389, 17);
    line-height: em(27, 17);
    margin-bottom: em(35, 17);
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.mfs-left-btn {
  font-size: $base-font-size;
  font-weight: 600;
  color: $black;
  background-color: white;
  span {
    font-weight: 400;
  }
  @include mq(large) {
    padding: em(21, 17) em(34, 17) em(22, 17) em(28, 17);
    @include transition (transform 0.8s ease-in-out);
  }
}

.mfs-right-section {
  @extend .mfs-left-section;
  background-image: url(img/facilities.jpg);
  @include mq(large) {
    padding-left: em(79);
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: auto;
      width: em(1);
      height: 100%;
      top: 0;
      background-color: white;
    }
  }
}

.mfs-right-header {
  @extend .mfs-left-header;
  &:before {
    background-image: url(img/facilities.svg);
  }
}

.mfs-right-text {
  @extend .mfs-left-text;
  @include mq(large) {
    max-width: em(472, 17);
  }
}

.mfs-right-btn {
  @extend .mfs-left-btn
}


/* ==== mfg section css ==== */

.mfg-accreditations-section {
  overflow: hidden;
  background-color: $off-white;
  text-align: center;
  @include mq(large) {
    > .inner-wrap {
      padding-top: em(103);
      padding-bottom: em(99);
    }
  }
}

.mas-header {
  font-size: $medium-font-size;
  line-height: em(28, 24);
  font-weight: 700;
  @include mq(large) {
    font-size: $xlarge-font-size;
    margin-bottom: em(28, 35);
  }
}

.mas-text {
  font-size: $base-font-size;
  @include mq(large) {
    max-width: em(890, 17);
    margin: 0 auto em(66, 17);
    display: block;
    line-height: em(27, 17);
  }
}

.mas-logo-section {
  overflow: hidden;
  margin-bottom: em(30);
  @include mq(large) {
    max-width: em(800);
    margin: 0 auto em(37);
  }
}

.mas-logo-item {
  display: inline-block;
  margin-right: em(15);
  margin-bottom: em(15);
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
  @include mq(medium) {
    width: 31%;
  }
  @include mq(large) {
    width: auto;
    margin-right: em(87);
  }
}

.mas-btn {
  @extend .si-cta-1;
  line-height: em(23, 17);
  @include mq(large) {
    padding: em(17, 17) em(30, 17) em(20, 17) em(28, 17);
  }
}

.sitemap-menu {
  ul {
    padding-left: em(15);
  }
}

.pdf-wrap {
  text-align: center;
  margin-bottom: em(40);
  &:hover{
    > a{
      transform: scale(1.1,1.1);
    }
  }
  > a {
    border: 1px solid $lighter-gray;
    padding: em(10);
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    @include transition (all 0.5s ease-in-out);
    transform: scale(1,1);
   
  }
}

.cert-size {
  display: block;
  margin-top: em(6, 17);
}


.footer-iso-logo{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin-right: 4%;
    a{
      margin-right: 22px;
    }
}

.product-item{
  text-align: center;
}
@media (min-width: 768px) {
  .body-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px; 
    justify-content: space-between;
  }

  .image-wrapper {
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto; 
      object-fit: cover; 
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .image-wrapper {
    padding-bottom: 1em;
  }

  .body-container {
    display: block;
    text-align: center;
  }
}
